.app {
  display: flex;
  justify-content: center;
  border: solid #2768e3 2px;
  border-radius: 9px;
  margin-left: 25rem;
  margin-right: 25rem;
}

.cards {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 2fr 2fr;
  column-gap: 2rem;
  row-gap: 2rem;
}

.hr {
  margin: 3rem -2rem 4rem;
}
