.btn {
  font-size: 1.2rem;
  background-color: #2768e3;
  border-radius: 9px;
  padding: 1rem 9rem 1rem 9rem;
  /* padding-right: 5rem; */
  margin-top: 2rem;
  margin-bottom: 5rem;
  color: #fff;
}

.sales {
  margin-top: 2rem;
  font-size: 1.7rem;
  font-weight: 300;
  color: black;
}
.marketOrder {
  font-size: 1rem;
  font-weight: 300;
  margin-top: -2rem;
}
.inputText {
  font-size: 1rem;
  font-weight: 200;
}
.ratesBorder {
  border: solid #acacac 2px;
  padding: 1rem 0.1rem 1rem 0.1rem;
}
.inputText,
.rates {
  font-size: 1rem;
  font-weight: 200;
  margin-left: 2rem;
}
